.dropDown_wrapping {
  width: 1700px;
  margin: 0px auto;
}

.DropDown_Btn {
  position: relative;
  left: 1343px;

  width: 200px;
  padding: 15px 0 15px 30px;

  background-color: hsl(0, 0%, 100%);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.DropDown_Btn div {
  display: inline-block;
  margin-right: 115px;
}

.Dropdown_list {
  list-style: none;
  position: absolute;
  top: 45px;
  right: 229px;

  width: 200px;
  padding: 10px 0 10px 30px;

  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  z-index: 1;
}

.Dropdown_list li {
  margin: 10px 0;

  width: fit-content;
  cursor: pointer;
}

.Dropdown_list li:hover {
  color: grey;
}

.fa-solid {
  cursor: pointer;
}

.Align {
  position: relative;
  left: 1047px;

  width: fit-content;
  margin-top: 30px;
}

.Align input {
  display: none;
}

.Align > input + label {
  display: inline-block;
  height: 24px;
  width: 100px;
  padding: 0 10px;
  margin-left: 10px;
  line-height: 24px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #33333386;
  cursor: pointer;
}

.Align input:checked + label {
  background-color: #333;
  color: #fff;
}
