@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    background: none;
}

.toggle {
    cursor: pointer;
}
